@{
    ViewData["Title"] = "Login";
}
@{
    if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["SuccessMessage"]
        </div>
    }
    if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["ErrorMessage"]
        </div>
        <div>@TempData["Username"]</div>
    }
}

<form method="post" asp-controller="Home" asp-action="Login">
    <!-- Username input -->
    <div class="form-outline mb-4">
        <label class="form-label" for="">Username: </label>
        <input type="text" id="UserName" name="UserName" class="form-control" />
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
        <label class="form-label" for="Password">Password: </label>
        <input type="password" id="Password" name="Password" class="form-control" />
    </div>
    <!-- Submit button -->
    <button type="submit" class="btn btn-outline-success btn-block mb-4">Submit</button>

    <!-- Register buttons -->
    <div class="text-center">
        <p>Not a member? <a asp-action="Register" asp-controller="Home">Register</a></p>

    </div>
</form>